@import "tailwindcss";
@plugin '@tailwindcss/typography';


html {
  background-color: #FAFAFA;
}

body {
  background-color: #FAFAFA;
  overscroll-behavior-y: contain; /* Optional: prevents bounce on some browsers */
}