@import "tailwindcss";
@plugin '@tailwindcss/typography';


html {
  scroll-behavior: smooth;
}

html, body {
  background-color: #1E1E2E; /* same dark color as your sections */
  color: #D4D4D4;
  min-height: 100%;
}

body {
  overscroll-behavior-y: contain;
  background-color: #1E1E2E;
}